
 <form id="calculate-route" name="calculate-route" action="/yelp_search" method="get">
      <label for="from">From:</label>
      <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
      <a id="from-link" href="#">Get my position</a>
      <br />
 
      <label for="to">To:</label>
      <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
      <a id="to-link" href="#">Get my position</a>
      <br />

      <label for="yelp">Find:</label>
      <input type="text" id="to" name="find_input" required="required" placeholder="bars, food, etc."/>

      <br />
      <input type="submit" id="submit" />
      <input type="reset" />
</form>
<div id="results"></div>
